<!DOCTYPE html>
<html>
  <head>
      {% if title == "Mur1" %}
      <title>{{ title }}</title>
      {% else %}
        <title>Mur2</title>
      {% endif %}
      <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  </head>
<body>
  <div class="upMur">
    <table>
      <thead>
        <tr>
          <th scope="col">Имя</th>
          <th scope="col">Любимое слово</th>
          <th scope="col">Любимое число</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Нозанин</th>
          <td>У меня нет такого</td>
          <td>6</td>
        </tr>
        <tr>
          <th scope="row">Даниэль</th>
          <td>Пипяу</td>
          <td>7</td>
        </tr>
        <tr>
          <th scope="row">Марат</th>
          <td>YOKOSO</td>
          <td>34</td>
        </tr>
      </tbody>
    </table>
    
  </div>
    <div class="refs">
      <h1>
        <div><a href="/home">MAIN!</a></div>
      </h1>
    </div>
</body>
</html>