<!DOCTYPE html>
<html>
  <head>
      {% if title == "Mur1" %}
      <title>{{ title }}</title>
      {% else %}
        <title>Mur2</title>
      {% endif %}
      <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  </head>
<body>
    <h1 class="upMur"> 
      <div><img src="{{ url_for('static', filename='images/cat.jpeg') }}" alt="now MEOW" width="500px" height="500px"></div>
      <div>ПОКАЙСЯ В СВОИХ ГРЕХАХ МУЧЕНИК</div>
    </h1>
    <div class="refs">
      <h1>
        <div><a href="/home">MAIN!</a></div>
      </h1>
    </div>
</body>
</html>